.npc1Creation {
  background: #04101e;
  color: white;
  display: "flex";
  flex-direction: "column";
  align-items: center;
  min-height: 100vh;
}
.logoImg {
  height: 110px;
  width: 110px;
}

.npc1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.npc1 div {
  display: flex;
  align-items: center;
}
.npc1 svg {
  font-size: 2rem;
  margin-right: 10px;
  cursor: pointer;
}

.npc1FormContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
}

.npc1Form {
  /* Your existing styles */
  display: flex;
  flex-direction: column;
  width: 80%;
  /* max-height: 50vh; */
  overflow: auto;
  align-items: center;
  margin: auto;
  gap: 10px;
}

/* Styling the scrollbar */
.npc1Form::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.npc1Form::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.npc1Form::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
}

.npc1Form::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
.npc1Form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.npc1FormInputContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.npc1FormInput {
  display: flex;
  flex-direction: column;
  gap: 0;
}

input {
  background: #04101e;
  color: white;
}
